%script{:src=>"#{asset_path('jquery.rest.js')}"}
%script{:src=>"#{asset_path('oval.js.coffee')}"}
.row
  .span12
    / %a.btn.pull-right{:href=>"#newUserModal", 'data-toggle'=>'modal'} New User
    %h4.header 
      = "OVAL漏洞库（共 #{@cve_count} 条来自MITRE）"
    #sync-bar.progress.progress-striped.active{:style=>"100px;"}
      .bar{:style=>"width: 0%"}
    #sync.btn.btn-primary 同步OVAL漏洞
    = render 'vulndb/pagination'
    %table.table.table-striped
      %thead
        %tr
          %th{:style=>"min-width:100px; max-width:100px;"}
            - if params[:sort]=="ovalup"
              %a{:href => "?sort=ovaldown"} OVAL ID
            - else
              %a{:href => "?sort=ovalup"} OVAL ID
          %th{:style=>"min-width:80px"}
            - if params[:sort]=="classup"
              %a{:href => "?sort=classdown"} 类别
            - else
              %a{:href => "?sort=classup"} 类别
          %th{:style=>"min-width:50px"}
            - if params[:sort]=="familyup"
              %a{:href => "?sort=familydown"} 平台
            - else
              %a{:href => "?sort=familyup"} 平台
          %th 漏洞描述
          %th{:style=>"min-width:80px"} 
            - if params[:sort]=="publishup"
              %a{:href => "?sort=publishdown"} 发布
            - else
              %a{:href => "?sort=publishup"} 发布
          %th{:style=>"min-width:80px"} 
            - if params[:sort]=="modifyup"
              %a{:href => "?sort=modifydown"} 最近修改
            - else
              %a{:href => "?sort=modifyup"} 最近修改

      %tbody
        - @vuln_list.each do |each_vuln|
          %tr
            %td
              %a{:href=>"#{each_vuln[:oval_url]}",:target=>"_blank"}
                = each_vuln[:id]
            %td
              = each_vuln[:class]
            %td 
              =each_vuln[:family]
            / %td
            /   - if !each_vuln[2].nil?
            /     - if each_vuln[2].to_f>=7.0
            /       %span.badge.badge-important
            /         = each_vuln[2]
            /     - elsif each_vuln[2].to_f>=4.0
            /       %span.badge.badge-warning
            /         = each_vuln[2]
            /     - else
            /       %span.badge.badge-info
            /         = each_vuln[2]
            /   - else
            /     %span.badge n/a
            %td
              %p
                = each_vuln[:desc]
            %td 
              = each_vuln[:publish]            
            %td 
              = each_vuln[:modify]
          / %td 
          /   .btn-group
          /     %button.btn Approve
          /     %button.btn.dropdown-toggle{'data-toggle'=>"dropdown"}
          /       %span.caret
          /     %ul.dropdown-menu
          /       %li
          /         %a{:href=>"#"} Edit Username
          /         %a{:href=>"#"} Disable Account
          /         %a{:href=>"#"} Destroy
    = render 'vulndb/pagination'