%script{:src=>"#{asset_path('jquery.rest.js')}"}
%script{:src=>"#{asset_path('vulndb.js.coffee')}"}
.row
  .span12
    / %a.btn.pull-right{:href=>"#newUserModal", 'data-toggle'=>'modal'} New User
    %h4.header 
      = "CVE漏洞库（共 #{@cve_count} 条来自NVD）"
    #sync.btn.btn-primary 同步CVE漏洞 
    = render 'vulndb/pagination'
    %table.table.table-striped.sortable
      %thead
        %tr
          %th{:style=>"min-width:110px"} CVE ID
          %th{:style=>"min-width:80px"} CWE ID
          %th CVSS
          %th 漏洞描述
          %th{:style=>"min-width:80px"} 发布
          %th{:style=>"min-width:80px"} 最近修改

      %tbody
        - @vuln_list.each do |each_vuln|
          %tr
            %td
              %a{:href=>"#{each_vuln[6]}",:target=>"_blank"}
                = each_vuln[0]
            %td
              %a{:href=>"#{each_vuln[7]}",:target=>"_blank"}
                = each_vuln[1]
            %td
              - if !each_vuln[2].nil?
                - if each_vuln[2].to_f>=7.0
                  %span.badge.badge-important
                    = each_vuln[2]
                - elsif each_vuln[2].to_f>=4.0
                  %span.badge.badge-warning
                    = each_vuln[2]
                - else
                  %span.badge.badge-info
                    = each_vuln[2]
              - else
                %span.badge n/a
            %td
              %p
                = each_vuln[3]
            %td 
              = each_vuln[4]
            %td 
              = each_vuln[5]
          / %td 
          /   .btn-group
          /     %button.btn Approve
          /     %button.btn.dropdown-toggle{'data-toggle'=>"dropdown"}
          /       %span.caret
          /     %ul.dropdown-menu
          /       %li
          /         %a{:href=>"#"} Edit Username
          /         %a{:href=>"#"} Disable Account
          /         %a{:href=>"#"} Destroy
    = render 'vulndb/pagination'