<!DOCTYPE html>
<html>
<head>
  <title>OVMS - 基于OVAL的综合漏洞管理系统</title>
  <meta charset="utf8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
  <body>
    <div id="in-nav">
      <div class="container">
        <div class="row">
          <div class="span12">
<!--        <ul class="pull-right">
            <li><a href="#">Link1</a></li>
            <li><a href="#">Link2</a></li>
            <li><a href="#">Link3</a></li>
            <li><a href="login.html">Login</a></li>
            </ul> -->
            <h4><strong>O</strong>VAL-based&nbsp;&nbsp;<strong>V</strong>ulnerabilities&nbsp;&nbsp;<strong>M</strong>anagement&nbsp;&nbsp;<strong>S</strong>ystem</h4>
            <h4>基于OVAL的漏洞管理系统&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数据源: <a href="http://cve.mitre.org" target="_blank">cve.mitre.org</a>、<a href="http://nvd.nist.gov/" target="_blank">nvd.nist.gov</a></h4>
          </div>
        </div>
      </div>
    </div>
    <div id="in-sub-nav">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul>
              <li><a href="/" class="<%= 'active' if current_page?(root_path) %>"><i class="batch home"></i><br />主页</a></li>
              <li>
                <% a = MongoClient.new("localhost", 27017).db("ovms_db")["events"].find({'read'=>0}).count %>
                <%if a >0%>
                <span class="label label-important pull-right">
                  <%= "#{a}"%>
                </span>
                <%end%>
                <a href="/stream" class="<%= 'active' if current_page?(stream_path) %>"><i class="batch stream"></i><br />事件流</a>
              </li>
              <li><a href="/predict" class="<%= 'active' if current_page?(predict_path) %>"><i class="batch quill"></i><br />态势评估</a></li>
              <li><a href="/calendar" class="<%= 'active' if current_page?(calendar_path) %>"><i class="batch calendar"></i><br />漏洞日历</a></li>
              <li><a href="/database" class="<%= 'active' if current_page?(database_path) %>"><i class="batch database"></i><br />漏洞库</a></li>
              <li><a href="/oval" class="<%= 'active' if current_page?(oval_path) %>"><i class="batch database"></i><br />OVAL库</a></li>
              <li><span class="label label-important pull-right">3</span><a href="/scan" class="<%= 'active' if current_page?(scan_path) %>"><i class="batch plane"></i><br />漏洞扫描</a></li>
              <!-- <li><a href="/log" class="<%= 'active' if current_page?(log_path) %>"><i class="batch forms"></i><br />系统日志</a></li> -->
              <!-- <li><a href="users.html"><i class="batch users"></i><br />帮助</a></li> -->
              <li><a href="/setting" class="<%= 'active' if current_page?(setting_path) %>"><i class="batch settings"></i><br />设置</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="page-container">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
             <p class="pull-right">Github: <a href="https://github.com/vixuowis" target="_blank">github.com/vixuowis</a></p>
            <p>&copy; Copyright 2014 by <a href="mailto:yinghuix@qq.com">Yinghui Xia</a> @ <a href="http://www.bit.edu.cn/" target="_blank">BIT</a></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
